
body {
margin:0;
padding:0;
}

.container {
  background-image: url("background.png");
  background-size: cover;
  background-repeat:no-repeat;
  height: 750px;
  margin: 0;
  padding: 0;
}

                          /*HEADER*/

.header {
  position: relative;
  width: 100%;
  height: 33.3%;
}

.discoball {
  position: absolute;
  margin-left: 80px;
  margin-top: 20px;
}

      .active .discoball {
              animation: animationMelon3 ease-in-out 3s;
              animation-iteration-count: infinite;
              transform-origin: 50% 50%;
              }

                  @keyframes animationMelon3{
                  0% {
                    transform:  translate(0px,50px)  rotate(90deg) ;
                  }
                  25% {
                    transform:  translate(400px,0px)  rotate(180deg);
                  }
                  50% {
                    transform:  translate(25px,250px)  rotate(270deg);
                  }
                  100% {
                    transform:  translate(25px,0px)  rotate(360deg);
                  }
      }

.slice1 {
  position: absolute;
  margin-left: 230px;
  margin-top: 150px;
}

.logo {
  position: absolute;
  margin-left: 280px;
  margin-top: 50px;
}

.lemon {
  position: absolute;
  margin-left: 1050px;
  margin-top: 120px;
}

.slice2 {
  position: absolute;
  margin-left: 1180px;
  margin-top: 180px;
}

.slice2a {
  position: absolute;
  margin-left: 1180px;
  top: 0;
}

                            /*MIDDLE ROW*/

.middle {
  position: relative;
  width: 100%;
  height: 33.3%;
}

.cartonleft {
  position: absolute;
  margin-left: 120px;
  margin-top: 5px;
}

.form {
      position: absolute;
      margin-left: 510px;
      margin-top: 100px;
}

.mc-field-group {
  padding-right: 200px;
}

        #mc-embedded-subscribe-form .mc-field-group input {
          border: 1px solid black;
        }

        .mc-embedded-subscribe-form {
          width: 40%;
          margin: 0 auto;
        }

        .name {
          margin-left: 1px;
          margin-bottom: 5px;
          padding-right: 150px;
          border: 1px solid black;
        }

        .surname {
          margin-left: 3px;
          margin-bottom: 5px;
          padding-right: 150px;
          border: 1px solid black;
        }

.cartonright {
      position: absolute;
      margin-left: 1130px;
      margin-top: 160px;
}

          /*BOTTOM ROW*/

          .bottom {
            position: relative;
            width: 100%;
            height: 33.3%;
          }

.slice3 {
  position: absolute;
  margin-left: 230px;
}

.slice4 {
  position: absolute;
  margin-left: 50px;
  bottom: 0;
}

.social {
  position: absolute;
  margin-left: 440px;
  margin-top: 110px;
}

li {
  display: inline-block;
  margin-left: 50px;
}

.cartonbottom {
  position: absolute;
  margin-left: 1230px;
  bottom: 0;
}

/*///////////////////////////////////////////////////////////////////////////////*/

/*.header {
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}



.carton {
  margin-left: 200px;
}

.active .carton {

    animation: animationMelon ease-in-out 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    }

        @keyframes animationMelon{
        0% {
          transform:  translate(0px,50px)  rotate(0deg) ;
        }
        50% {
          transform:  translate(500px,-50px)  rotate(180deg);
        }
        100% {
          transform:  translate(0px,50px)  rotate(360deg);
        }
  }


nav {
  background-color: rgb(200, 240, 190);
  font-family: 'Nunito', sans-serif;
  margin: auto 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
}

RESPONSIVE NAV STUFF

@media (max-width: 1024px) {
    nav {
  background-color: red;
    }
}

.form {
  background-color: rgb(255, 215, 230);
  height: 200px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
}

.mc-field-group {
  padding-right: 200px;
}

#mc-embedded-subscribe-form .mc-field-group input {
  border: 1px solid black;
}

.mc-embedded-subscribe-form {
  width: 40%;
  margin: 0 auto;
}

.name {
  margin-left: 1px;
  margin-bottom: 5px;
  padding-right: 150px;
  border: 1px solid black;
}

.surname {
  margin-left: 3px;
  margin-bottom: 5px;
  padding-right: 150px;
  border: 1px solid black;
}

.main {
  background-color: RGB(250, 40, 60);
  height: 500px;
  width: 100%;
  padding-top: 200px;
}

.melon1 {
margin-left: 100px;
display: inline-block;
}

.active .melon1 {
  animation: animationMelon1 ease-in-out 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  }

  @keyframes animationMelon1{
  0% {
    transform:  translate(100px,-50px)  rotate(0deg) ;
  }
  50% {
    transform:  translate(-50px,100px)  rotate(180deg);
  }
  100% {
    transform:  translate(100px,-50px)  rotate(360deg);
  }
}

.slice {
  margin-left: 200px;
  display: inline-block;
}

.active .slice {
      animation: animationMelon2 ease-in-out 4s;
      animation-iteration-count: infinite;
      transform-origin: 50% 50%;
      }

          @keyframes animationMelon2{
          0% {
            transform:  translate(600px,-200px)  rotate(0deg) ;
          }
          50% {
            transform:  translate(-100px,-50px)  rotate(180deg);
          }
          100% {
            transform:  translate(550px,50px)  rotate(360deg);
          }
}

.disco {
  margin-left: 50px;
  display: inline-block;
}

.active .disco {
        animation: animationMelon3 ease-in-out 3s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        }

            @keyframes animationMelon3{
            0% {
              transform:  translate(0px,50px)  rotate(90deg) ;
            }
            25% {
              transform:  translate(400px,0px)  rotate(180deg);
            }
            50% {
              transform:  translate(25px,250px)  rotate(270deg);
            }
            100% {
              transform:  translate(25px,0px)  rotate(360deg);
            }
}

.lemon {
  margin-left: 0;
  display: inline-block;

}

.active .lemon {
        animation: animationMelon4 ease-in-out 7s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        }

            @keyframes animationMelon4{
            0% {
              transform:  translate(0px,-50px)  rotate(0deg) ;
            }
            50% {
              transform:  translate(-500px,-50px)  rotate(180deg);
            }
            100% {
              transform:  translate(0px,-50px)  rotate(360deg);
            }
}*/
