.header {
  background-color: rgb(0, 185, 0);
  height: 200px;
  width: 100%;
  padding-top: 50px;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.logo {
  margin-left: 50px;
}

.melon {

    animation: animationMelon ease-in-out 3s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    }

        @keyframes animationMelon{
        0% {
          transform:  translate(0px,50px)  rotate(0deg) ;
        }
        50% {
          transform:  translate(500px,-50px)  rotate(180deg);
        }
        100% {
          transform:  translate(0px,50px)  rotate(360deg);
        }
  }

nav {
  background-color: rgb(200, 240, 190);
  font-family: 'Nunito', sans-serif;
  margin: auto 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
}

li {
  display: inline-block;
  margin-left: 170px;
}

.form {
  background-color: RGB(255, 215, 230);
  height: 300px;
  width: 100%;
  padding-top: 50px;
  font-family: 'Nunito', sans-serif;
}

/*.mc-field-group {
  margin-left: 500px;
}*/

#mc_embed_signup {
    margin-left: 400px;
    padding-right: 0;

}

.mc-field-group {
  padding-right: 200px;
}

.email {
  margin-left: 42px;
  margin-bottom: 5px;
  padding-right: 150px;
  border: 1px solid black;
}

.name {
  margin-left: 1px;
  margin-bottom: 5px;
  padding-right: 150px;
  border: 1px solid black;
}

.surname {
  margin-left: 3px;
  margin-bottom: 5px;
  padding-right: 150px;
  border: 1px solid black;
}

.main {
  background-color: RGB(250, 40, 60);
  height: 500px;
  width: 100%;
  padding-top: 200px;
}

.melon1 {
  margin-left: 100px;
  display: inline-block;

/*ANIMATION*/

  animation: animationMelon1 ease-in-out 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  }

  @keyframes animationMelon1{
  0% {
    transform:  translate(100px,-50px)  rotate(0deg) ;
  }
  50% {
    transform:  translate(-50px,100px)  rotate(180deg);
  }
  100% {
    transform:  translate(100px,-50px)  rotate(360deg);
  }
}

.melon2 {
  margin-left: 200px;
  display: inline-block;

/*ANIMATION*/

      animation: animationMelon2 ease-in-out 2s;
      animation-iteration-count: infinite;
      transform-origin: 50% 50%;
      }

          @keyframes animationMelon2{
          0% {
            transform:  translate(800px,-100px)  rotate(0deg) ;
          }
          50% {
            transform:  translate(-100px,-50px)  rotate(180deg);
          }
          100% {
            transform:  translate(-50px,50px)  rotate(360deg);
          }
}

.melon3 {
  margin-left: 200px;
  display: inline-block;

/*ANIMATION*/

        animation: animationMelon3 ease-in-out 8s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        }

            @keyframes animationMelon3{
            0% {
              transform:  translate(0px,50px)  rotate(0deg) ;
            }
            50% {
              transform:  translate(500px,-50px)  rotate(180deg);
            }
            100% {
              transform:  translate(0px,50px)  rotate(360deg);
            }
}

.melon4 {
  margin-left: 200px;
  display: inline-block;

/*ANIMATION*/

        animation: animationMelon4 ease-in-out 3s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        }

            @keyframes animationMelon4{
            0% {
              transform:  translate(0px,50px)  rotate(0deg) ;
            }
            50% {
              transform:  translate(500px,-50px)  rotate(180deg);
            }
            100% {
              transform:  translate(0px,50px)  rotate(360deg);
            }
}
