
@font-face {
  font-family: 'BrezelGrotesk-Bold';
  src: url('BrezelGrotesk-Bold.eot');
  src: url('BrezelGrotesk-Bold.woff2') format('woff2'),
       url('BrezelGrotesk-Bold.woff') format('woff'),
       url('BrezelGrotesk-Bold.ttf') format('truetype'),
       url('BrezelGrotesk-Bold.svg#BrezelGrotesk-Bold') format('svg'),
       url('BrezelGrotesk-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('AvenirLTStd-Black.eot');
  src: url('AvenirLTStd-Black.woff2') format('woff2'),
       url('AvenirLTStd-Black.woff') format('woff'),
       url('AvenirLTStd-Black.ttf') format('truetype'),
       url('AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg'),
       url('AvenirLTStd-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body {
width: 100%;
height: 100%;
margin:0;
padding:0;
font-family: 'BrezelGrotesk-BOLD';
/*font-family: 'AvenirLTStd-Black', serif;
font-size: 48px;*/
}

#container {
  background-image: url("background.png");
  background-size: 100% auto;
  background-repeat:no-repeat;
  height: 750px;
  margin: 0;
  padding: 0;
}



                          /*HEADER*/

.header {
  position: relative;
  width: 100%;
  height: 30%;
}

.discoball {
  position: absolute;
  margin-left: 80px;
  margin-top: 20px;
}
      .active .discoball {
              animation: animationMelon3 ease-in-out 5s;
              animation-iteration-count: infinite;
              transform-origin: 50% 50%;
              }

                  @keyframes animationMelon3{
                    25% {
                        transform: translateX(-50px) rotate(180deg);
                    }
                    50% {
                        transform: translateY(50px) rotate(270deg);
                    }

                    75% {
                        transform: translateY(-20px) rotate(360deg);
                    }
      }

.slice1 {
  position: absolute;
  margin-left: 230px;
  margin-top: 150px;
}
      .active .slice1 {
              animation: animationSlice1 ease-in-out 5s;
              animation-iteration-count: infinite;
              transform-origin: 50% 50%;
              }

                  @keyframes animationSlice1{
                  50% {
                      transform: translateX(-100px) rotate(180deg);
                  }
                  75% {
                      transform: translateY(100px) rotate(360deg);
                  }
      }


.logo {
  position: absolute;
  margin-left: 280px;
  margin-top: 50px;
}


.lemon {
  position: absolute;
  margin-left: 1050px;
  margin-top: 140px;
}

        .active .lemon {
                animation: animationLemon ease-in-out 3s;
                animation-iteration-count: infinite;
                transform-origin: 50% 50%;
                }

                    @keyframes animationLemon{
                      50% {
                          transform: translateX(80px) rotate(1080deg);
                      }
                      70% {
                          transform: translateY(90px) rotate(360deg);
                      }
            }


.slice2 {
  position: absolute;
  margin-left: 1180px;
  margin-top: 180px;
}
      .active .slice2 {
              animation: animationSlice2 ease-in-out 7s;
              animation-iteration-count: infinite;
              transform-origin: 50% 50%;
              }

                  @keyframes animationSlice2{
                    25% {
                        transform: translateX(100px) rotate(-180deg);
                    }
                    75% {
                        transform: translateY(100px) rotate(360deg);
                    }
      }


.slice2a {
  position: absolute;
  margin-left: 1180px;
  top: 0;
}
/*.active .slice2a {
        animation: animationSlice2a ease-in-out 5s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        }

            @keyframes animationSlice2a{
              50% {
                  transform: translateX(-100px) rotate(180deg);
              }

              75% {
                  transform: translateY(100px) rotate(360deg);
              }
}*/

                            /*MIDDLE ROW*/

.middle {
  position: relative;
  width: 100%;
  height: 70%;
}

.cartonleft {
  position: absolute;
  margin-left: 120px;
  margin-top: 100px;
}
.active .cartonleft {
        animation: animationCartonLeft ease-in-out 8s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        }

            @keyframes animationCartonLeft{
              50% {
                  transform: rotate(90deg);
              }
              75% {
                  transform: rotate(-70deg);
              }
}

.form {
      position: absolute;
      margin-left: 510px;
      margin-top: 165px;
}

input {
      border: 3px solid white;
      background-color: rgb(27, 178, 75);
      width: 400px;
      height: 55px;
      text-align: center;
      margin-left: -1px;
      color: rgb(255,255,255);
      font-size: 22px;
}

input.placeholder {
  text-align: center;
  font-family: 'BrezelGrotesk-BOLD', serif;
  color: rgb(255,255,255);
  opacity: 0;
}

label {
      margin-left: 30px;
}

button {
      background-color: rgb(204, 229, 185);
      border: none;
      text-transform: uppercase;
      margin-left: 122px;
      margin-top: 60px;
      font-family: 'AvenirLTStd-Black', serif;
      font-size: 30px;
      color: rgb(27, 178, 75);
}


.cartonright {
      position: absolute;
      margin-left: 1130px;
      margin-top: 160px;
}
.active .cartonright {
        animation: animationCartonRight ease-in-out 4s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        }

            @keyframes animationCartonRight{
                30% {
                    transform: translateX(-100px) rotate(-80deg);
                }
                90% {
                    transform: translateY(100px) rotate(-160deg);
                }
}

          /*BOTTOM ROW*/

.slice3 {
  position: absolute;
  margin-left: 230px;
  margin-top: 280px;
}
.active .slice3 {
        animation: animationSlice3 ease-in-out 2s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        }

            @keyframes animationSlice3{
              30% {
                  transform: translateX(70px) rotate(210deg);
              }
              60% {
                  transform: translateY(70px) rotate(-300deg);
              }
}


.slice4 {
  position: absolute;
  margin-left: 50px;
  bottom: 0;
}


.social {
  position: absolute;
  margin-left: 480px;
  margin-top: 400px;
}

li {
  display: inline-block;
  margin-left: 50px;
}

.cartonbottom {
  position: absolute;
  margin-left: 1230px;
  bottom: 0;
}

/*RESPONSIVE*/

@media screen and (max-width: 320px) {
  #container {
    background-image: url("sign up - for mobile.png");
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 320px;
    margin: 0;
    padding: 0;
  }
  img {
    height: 70px;
    width: 70px;
  }
  .logo img {
    height: 105px;
    width: 150px;
  }
  .slice1 img {
    height: 70px;
    width: 90px;
  }
  .cartonleft img {
    height: 105px;
    width: 70px;
  }
  .slice3 img {
    height: 70px;
    width: 90px;
  }
  .social img {
    height: 50px;
    width: 45px;
  }
  .header {
    position: relative;
    width: 320px;
    height: 30%;
  }
  .discoball {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
  }
  .slice1 {
    position: absolute;
    margin-left: 10px;
    margin-top: 150px;
  }
  .logo {
    position: absolute;
    margin-left: 45px;
    margin-top: 30px;
  }
  .lemon {
    position: absolute;
    margin-left: 240px;
    margin-top: 4px;
  }
  .cartonleft {
    position: absolute;
    margin-left: 20px;
    margin-top: 250px;
  }
  .middle {
    position: relative;
    width: 320px;
    height: 70%;
  }
  .form {
    position: absolute;
    margin-left: 55px;
    margin-top: 50px;
  }
  input {
    border: 3px solid white;
    background-color: rgb(27, 178, 75);
    width: 200px;
    height: 30px;
    text-align: center;
    margin-left: -1px;
    color: rgb(255,255,255);
    font-size: 12px;
  }
  button {
    background-color: rgb(204, 229, 185);
    border: none;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 1px;
    font-family: 'AvenirLTStd-Black', serif;
    font-size: 25px;
    color: rgb(27, 178, 75);
  }
  .social {
    position: absolute;
    margin-left: -9px;
    margin-top: 200px;
  }
  li {
    /*display: block;*/
    padding: 0;
  }
  .slice3 {
    position: absolute;
    margin-left: 240px;
    margin-top: 255px;
  }
  .slice2 {
    position: absolute;
    display: none;
    margin-left: 1px;
    margin-top: 1px;
  }
  .slice2a {
    position: absolute;
    display: none;
    margin-left: 1px;
    top: 0;
  }
  .cartonright {
        position: absolute;
        display: none;
        margin-left: 1px;
        margin-top: 1px;
  }
  .cartonbottom {
    position: absolute;
    display: none;
    margin-left: 1px;
    bottom: 0;
  }
  .slice4 {
    position: absolute;
    margin-left: 100px;
    bottom: 0;
  }
}
